.idea
/machine-controller*
.terraform
terraform.tfstate
terraform.tfstate.backup
test/tools/verify/verify
.buildcache
terraform
terraform-provider-hcloud
.kubeconfig
examples/*.pem
examples/*.csr
examples/*.srl
/webhook
/vendor
.vscode
.gitpod.yml
cmd/machine-controller/__debug_bin
