required = ["k8s.io/code-generator/cmd/client-gen"]

[prune]
  non-go = true
  go-tests = true
  unused-packages = true

[[constraint]]
  name = "github.com/golang/glog"
  branch = "master"

[[constraint]]
  name = "github.com/Masterminds/sprig"
  version = "v2.14.*"

[[constraint]]
  name = "github.com/coreos/container-linux-config-transpiler"
  version = "v0.6.*"

# For container-linux-config-transpiler
[[override]]
  name = "github.com/ajeddeloh/yaml"
  revision = "6b94386aeefd8c4b8470aee72bfca084c2f91da9"

[[constraint]]
  name = "k8s.io/apimachinery"
  branch = "release-1.10"

[[constraint]]
  name = "k8s.io/client-go"
  branch = "release-7.0"

[[constraint]]
  name = "k8s.io/code-generator"
  branch = "release-1.10"

[[override]]
  name = "k8s.io/gengo"
  revision = "01a732e01d00cb9a81bb0ca050d3e6d2b947927b"

[[constraint]]
  name = "github.com/digitalocean/godo"
  version = "v1.1.*"

[[constraint]]
  name = "k8s.io/apiextensions-apiserver"
  branch = "release-1.10"

[[constraint]]
  name = "github.com/aws/aws-sdk-go"
  version = "1.12.*"

[[constraint]]
  name = "github.com/gophercloud/gophercloud"
  branch = "master"

[[constraint]]
  name = "github.com/go-test/deep"
  version = "1.0.*"

[[constraint]]
  name = "github.com/pmezard/go-difflib"
  version = "1.0.*"

[[constraint]]
  name = "github.com/heptiolabs/healthcheck"
  branch = "master"

[[constraint]]
  name = "github.com/prometheus/client_golang"
  version = "v0.8.*"

[[constraint]]
  name = "github.com/hetznercloud/hcloud-go"
  version = "v1.3.*"

[[constraint]]
  name = "github.com/Azure/azure-sdk-for-go"
  version = "16.2.*"

[[constraint]]
  name = "github.com/Azure/go-autorest"
  version = "10.8.*"
