version: 2
jobs:
  checkout_code:
    docker:
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/kubermatic/machine-controller
    steps:
      - checkout
      - save_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - /go/src/github.com/kubermatic/machine-controller

  install-dependencies:
    docker:
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/kubermatic/machine-controller
    steps:
      - restore_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}
      - run: go get -u github.com/golang/dep/cmd/dep
      - run: dep ensure -vendor-only
      - save_cache:
          key: vendor-{{ checksum "Gopkg.lock" }}
          paths:
            - /go/src/github.com/kubermatic/machine-controller/vendor
  test:
    docker:
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/kubermatic/machine-controller
    steps:
      - restore_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          key: vendor-{{ checksum "Gopkg.lock" }}
      - run: go test ./...

  build:
    docker:
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/kubermatic/machine-controller
    steps:
      - restore_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          key: vendor-{{ checksum "Gopkg.lock" }}
      - run: go build -o machine-controller github.com/kubermatic/machine-controller/cmd/controller
      - save_cache:
          key: machine-controller-{{ .Revision }}
          paths:
            - /go/src/github.com/kubermatic/machine-controller/machine-controller

  publish:
    machine: true
    working_directory: /go/src/github.com/kubermatic/machine-controller
    steps:
      - restore_cache:
          key: machine-controller-{{ .Revision }}
      - run: make docker-image

workflows:
  version: 2
  build:
    jobs:
      - checkout_code
      - install-dependencies:
          requires:
            - checkout_code
      - test:
          requires:
            - install-dependencies
      - build:
          requires:
            - install-dependencies
      - publish:
          requires:
            - build
