apiVersion: v1
kind: Secret
metadata:
  # If you change the namespace/name, you must also
  # adjust the rbac rules
  name: machine-controller-equinixmetal
  namespace: kube-system
type: Opaque
stringData:
  token: << METAL_AUTH_TOKEN >>
---
apiVersion: "cluster.k8s.io/v1alpha1"
kind: MachineDeployment
metadata:
  name: equinixmetal-machinedeployment
  namespace: kube-system
spec:
  paused: false
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 0
  selector:
    matchLabels:
      foo: bar
  template:
    metadata:
      labels:
        foo: bar
    spec:
      providerSpec:
        value:
          sshPublicKeys:
            - "<< YOUR_PUBLIC_KEY >>"
          cloudProvider: "equinixmetal"
          cloudProviderSpec:
            # If empty, can be set via METAL_TOKEN env var
            token:
              secretKeyRef:
                namespace: kube-system
                name: machine-controller-equinixmetal
                key: token
            instanceType: "t1.small.x86"
            projectID: "<< PROJECT_ID >>"
            facilities:
              - "ewr1"
          operatingSystem: "ubuntu"
          operatingSystemSpec:
            distUpgradeOnBoot: false
      versions:
        kubelet: 1.24.9
