apiVersion: v1
kind: Secret
metadata:
  # If you change the namespace/name, you must also
  # adjust the rbac rules
  name: machine-controller-opennebula
  namespace: kube-system
type: Opaque
stringData:
  password: << ONE_PASSWORD >>
---
apiVersion: "cluster.k8s.io/v1alpha1"
kind: MachineDeployment
metadata:
  name: opennebula-machinedeployment
  namespace: kube-system
spec:
  paused: false
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 0
  selector:
    matchLabels:
      foo: bar
  template:
    metadata:
      labels:
        foo: bar
    spec:
      providerSpec:
        value:
          sshPublicKeys:
            - "<< YOUR_PUBLIC_KEY >>"
          cloudProvider: "opennebula"
          cloudProviderSpec:
            endpoint: "<< ONE_ENDPOINT including '/RPC2' >>"
            username: "<< ONE_USERNAME >>"
            # If empty, can be set via ONE_PASSWORD env var
            password:
              secretKeyRef:
                namespace: kube-system
                name: machine-controller-opennebula
                key: password
            cpu: 1
            vcpu: 2
            memory: 1024

            image: "Amazon Linux 2"
            datastore: "<< YOUR_DATASTORE_NAME >>"
            diskSize: 51200 # MB

            network: "<< YOUR_NETWORK_NAME >>"

            enableVNC: true

            # if you want to have more control over e.g. placement of the VM you can do this:
            #vmTemplateExtra:
            #  SCHED_REQUIREMENTS: 'RACK="G4"'
          operatingSystem: "amzn2"
          operatingSystemSpec:
            distUpgradeOnBoot: false
      versions:
        kubelet: 1.22.5
