apiVersion: v1
kind: Secret
metadata:
  # If you change the namespace/name, you must also
  # adjust the rbac rules
  name: machine-controller-vultr
  namespace: kube-system
type: Opaque
stringData:
  apiKey: << VULTR_API_KEY >>
---
apiVersion: "cluster.k8s.io/v1alpha1"
kind: MachineDeployment
metadata:
  name: vultr-machinedeployment
  namespace: kube-system
spec:
  paused: false
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 0
  selector:
    matchLabels:
      foo: bar
  template:
    metadata:
      labels:
        foo: bar
    spec:
      providerSpec:
        value:
          sshPublicKeys:
            - "<< YOUR_PUBLIC_KEY >>"
          cloudProvider: "vultr"
          cloudProviderSpec:
            # Can also be set via the env var 'VULTR_API_KEY' on the machine-controller
            apiKey:
              secretKeyRef:
                namespace: kube-system
                name: machine-controller-vultr
                key: apiKey
            region: blr
            plan: 'vhf-8c-32gb'
            # Required: app_id, image_id, os_id, snapshot_id, or iso_id must be provided. Currently only os_id is supported.
            osId: 215
            # Optional
            tags:
              - tag1
              - tag2
              - tag3
          operatingSystem: "ubuntu"
          operatingSystemSpec:
            distUpgradeOnBoot: false
            disableAutoUpdate: true
      versions:
        kubelet: 1.24.9
